In [1]:
import pandas as pd

In [3]:
!ls ../data/raw/severstal-steel-defect-detection/train.csv

sample_submission.csv  test_images.zip	train_images
test_images	       train.csv	train_images.zip

In [20]:
img_size = 256 * 1600
img_size

409600

In [2]:
train_csv = '../data/raw/severstal-steel-defect-detection/train.csv'
df = pd.read_csv(train_csv)
df.head()

   ImageId_ClassId                                      EncodedPixels
0  0002cc93b.jpg_1  29102 12 29346 24 29602 24 29858 24 30114 24 3...
1  0002cc93b.jpg_2                                                NaN
2  0002cc93b.jpg_3                                                NaN
3  0002cc93b.jpg_4                                                NaN
4  00031f466.jpg_1                                                NaN

In [3]:
df['ImageId'], df['ClassId'] = zip(*df['ImageId_ClassId'].str.split('_'))
df['ClassId'] = df['ClassId'].astype(int)
df = df.pivot(index='ImageId', columns='ClassId', values='EncodedPixels')
df['defects'] = df.count(axis=1)

In [4]:
df.head()

ClassId,1,2,3,4,defects
ImageId,,,,,
0002cc93b.jpg,29102 12 29346 24 29602 24 29858 24 30114 24 3...,NaN,NaN,NaN,1
00031f466.jpg,NaN,NaN,NaN,NaN,0
000418bfc.jpg,NaN,NaN,NaN,NaN,0
000789191.jpg,NaN,NaN,NaN,NaN,0
0007a71bf.jpg,NaN,NaN,18661 28 18863 82 19091 110 19347 110 19603 11...,NaN,1

In [11]:
df.columns

Index([1, 2, 3, 4, 'defects'], dtype='object', name='ClassId')

In [5]:
df.defects.max()

3

In [23]:
def pixel_count(s):
    if not isinstance(s, str):
        return 0
    total = 0
    for idx, item in enumerate(s.split(' ')):
        if idx % 2 == 1:
            continue
        total += int(item)
    return total

def contains_defect(s):
    return isinstance(s, str)

In [29]:
df['c1'] = df.loc[:, 1].apply(contains_defect)
df['c2'] = df.loc[:, 2].apply(contains_defect)
df['c3'] = df.loc[:, 3].apply(contains_defect)
df['c4'] = df.loc[:, 4].apply(contains_defect)

In [30]:
df['px1'] = df.loc[:, 1].apply(pixel_count)
df['px2'] = df.loc[:, 2].apply(pixel_count)
df['px3'] = df.loc[:, 3].apply(pixel_count)
df['px4'] = df.loc[:, 4].apply(pixel_count)
df.head()

ClassId,1,2,3,4,defects,px1,px2,px3,c1,c2,c3,c4,px4
ImageId,,,,,,,,,,,,,
0002cc93b.jpg,29102 12 29346 24 29602 24 29858 24 30114 24 3...,NaN,NaN,NaN,1,10061537,0,0,True,False,False,False,0
00031f466.jpg,NaN,NaN,NaN,NaN,0,0,0,0,False,False,False,False,0
000418bfc.jpg,NaN,NaN,NaN,NaN,0,0,0,0,False,False,False,False,0
000789191.jpg,NaN,NaN,NaN,NaN,0,0,0,0,False,False,False,False,0
0007a71bf.jpg,NaN,NaN,18661 28 18863 82 19091 110 19347 110 19603 11...,NaN,1,0,0,7090461,False,False,True,False,0

In [21]:
df.px1.mean() / img_size

3.0707104968114085

In [31]:
print(df.c1.mean(), df.c2.mean(), df.c3.mean(), df.c4.mean())

0.07137173774665818 0.01965308720560153 0.4097708465945258 0.0637332908975175

In [33]:
df.groupby(['c1', 'c2', 'c3', 'c4'])['defects'].count()

c1     c2     c3     c4
False  False  False  False    5902
                     True      516
              True   False    4759
                     True      284
       True   False  False     195
                     True        1
              True   False      14
True   False  False  False     769
              True   False      91
       True   False  False      35
              True   False       2
Name: defects, dtype: int64

In [ ]:
df.c3.mean()

In [13]:
df_empty.empty

True

In [14]:
df_nodef = df.loc[df.defects > 0, :]
df_nodef.shape

(6666, 5)